<!DOCTYPE html>
<html>
    <head>
        <title>Tankonsteen blog</title>
    </head>
    <body>
        <h2>Current time displayer</h2>
        <span>{{ .time }}</span>
    </body>
</html>
